{% extends 'layout.html' %}
{% block content %}
<h1>This is the costumer_purchase form page</h1>
<form action="/customer_purchase", method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="phone">Phone number</label>
    <input type="number" name="phone" id="phone" min="1000000" max="9999999999" required>
      <div class="grid-container">
        {% for recipes in recipes %}
          <div class="grid-item">
            <img src="/static/{{recipes[0]}}.jpg" >
            <label for="{{recipes [1]}}">{{recipes [1]}}</label>
            <input type="number" name="order" id="{{recipes [0]}}" min="0" max="4" value = "0" required>
          </div>
        {% endfor %}
      </div>
     
        <input type="submit" value="Submit">
</form>
{% endblock %}