{% extends 'layout.html' %}
{% block content %}
<h1>This is the costumer_purchase form page</h1>
<form action="/customer_purchase", method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="phone">Phone number</label>
    <input type="number" name="phone" id="phone" min="1000000" max="9999999999" required>

    <label for="order">Order(s)</label>
    <select id="order" name="order" multiple>
        {% for recipes in recipes %}
        <option  value="{{ recipes[0] }}">{{ recipes[1] }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}